.list-container {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.781);
    color: rgb(65, 65, 65);
    margin: 30px 0px 30px 45px;

}

.list-li {
    margin: 2px;
}
/* 
.list-group-item {
    border: none!important;
} */
