body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin p {
  margin-top: 10px;
}

#content {
  position: relative;
  top: 0;
  margin: -100px 0px -10px 0px;
  /* background:linear-gradient(#28423e, 
  #4bc362); */
}

#main-content {
  padding: 150px 0px 120px 0px;
 
}

#jumbo {
  background-color: rgba(255, 255, 255, 0.603);
  width: 75%;
  padding: 20px 0px 40px 0px;
  margin: auto;
  text-align: center;
  border-radius: 25px;
}

#register-link {
  color: #4bc361!important;
}

#register-link:hover {
  color: #218533!important;
}



