body {
    margin-top: -40px!important;
    width: 100%;
}

/* NoMatch.css */
#contentttt {
    position: relative;
    top: 0;
    margin: -100px 0px -10px 0px;
    background:linear-gradient(#28423e, 
    #4bc362);
}

#fourofour {
    padding: 200px 0px 150px 0px;
 }
 
 #forofor {
     font-size: 200px;
 }
 
#pagenotfound {
     font-size: 50px;
     margin-top: -30px;
 }

/* ================== */



